In [78]:
import pandas as pd
import numpy as np
# from scikit-learn import train_test_split()
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import MinMaxScaler

In [213]:
train_data = pd.read_csv('../input/dataset/train.csv')
test_data = pd.read_csv('../input/dataset/test.csv')

In [214]:
train_data.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [215]:
#pre process data
def preprocess1(df):
    df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})
    df['Age'] = df['Age'].fillna(df['Age'].median())
    df['Embarked'] = df['Embarked'].fillna('S')
    df['Embarked'] = df['Embarked'].map({'S': 0, 'C': 1, 'Q': 2})
    df['FamilySize'] = df['SibSp'] + df['Parch'] + 1
    return df

In [201]:
train_data.isna().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [216]:
train_data = preprocess1(train_data)

In [222]:
train_data.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch  Embarked  FamilySize
0            1         0       3    0  22.0      1      0         0           2
1            2         1       1    1  38.0      1      0         1           2
2            3         1       3    1  26.0      0      0         0           1
3            4         1       1    1  35.0      1      0         0           2
4            5         0       3    0  35.0      0      0         0           1

In [221]:
train_data = preprocess2(train_data)

In [218]:
train_data['Embarked'].unique()

array([0, 1, 2])

In [236]:
features = ['Pclass', 'Sex', 'Age', 'Embarked', 'FamilySize']
# features = ['PClass', 'Sex', 'Age', 'Fare', 'Embarked', 'FamilySize']

In [81]:
non_numeric_fares = train_data[~train_data['Fare'].apply(lambda x: isinstance(x, (int, float)))]

In [82]:
print(non_numeric_fares)

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Sex, Age, SibSp, Parch, Fare, Embarked]
Index: []

In [83]:
train_data['Fare'] = pd.to_numeric(train_data['Fare'], errors='coerce')

In [219]:
def preprocess2(df):
    df.drop('Name', axis=1, inplace=True)
    df.drop('Fare', axis=1, inplace=True)
    df.drop('Cabin', axis=1, inplace=True)
    df.drop('Ticket', axis=1, inplace=True)
    return df

In [229]:
test_data.isna().any()

PassengerId    False
Pclass         False
Sex            False
Age            False
SibSp          False
Parch          False
Embarked       False
FamilySize     False
dtype: bool

In [225]:
test_data = preprocess1(test_data)

In [228]:
test_data = preprocess2(test_data)

In [166]:
test_data

     PassengerId  Pclass  ... Cabin Embarked
0            892       3  ...   NaN        Q
1            893       3  ...   NaN        S
2            894       2  ...   NaN        Q
3            895       3  ...   NaN        S
4            896       3  ...   NaN        S
..           ...     ...  ...   ...      ...
413         1305       3  ...   NaN        S
414         1306       1  ...  C105        C
415         1307       3  ...   NaN        S
416         1308       3  ...   NaN        S
417         1309       3  ...   NaN        C

[418 rows x 11 columns]

In [237]:
X = train_data[features]

In [238]:
X

     Pclass  Sex   Age  Embarked  FamilySize
0         3    0  22.0         0           2
1         1    1  38.0         1           2
2         3    1  26.0         0           1
3         1    1  35.0         0           2
4         3    0  35.0         0           1
..      ...  ...   ...       ...         ...
886       2    0  27.0         0           1
887       1    1  19.0         0           1
888       3    1  28.0         0           4
889       1    0  26.0         1           1
890       3    0  32.0         2           1

[891 rows x 5 columns]

In [239]:
train_data

     PassengerId  Survived  Pclass  Sex  ...  SibSp  Parch  Embarked  FamilySize
0              1         0       3    0  ...      1      0         0           2
1              2         1       1    1  ...      1      0         1           2
2              3         1       3    1  ...      0      0         0           1
3              4         1       1    1  ...      1      0         0           2
4              5         0       3    0  ...      0      0         0           1
..           ...       ...     ...  ...  ...    ...    ...       ...         ...
886          887         0       2    0  ...      0      0         0           1
887          888         1       1    1  ...      0      0         0           1
888          889         0       3    1  ...      1      2         0           4
889          890         1       1    0  ...      0      0         1           1
890          891         0       3    0  ...      0      0         2           1

[891 rows x 9 columns]

In [240]:
Y=train_data['Survived']

In [241]:
Y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [242]:
#Train Model

model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X,Y)

RandomForestClassifier(random_state=42)

In [243]:
#Predict and Submit

X_test = test_data[features]

In [244]:
X_test

     Pclass  Sex   Age  Embarked  FamilySize
0         3    0  34.5         2           1
1         3    1  47.0         0           2
2         2    0  62.0         2           1
3         3    0  27.0         0           1
4         3    1  22.0         0           3
..      ...  ...   ...       ...         ...
413       3    0  27.0         0           1
414       1    1  39.0         1           1
415       3    0  38.5         0           1
416       3    0  27.0         0           1
417       3    0  27.0         1           3

[418 rows x 5 columns]

In [245]:
predictions = model.predict(X_test)

In [246]:
submission = pd.DataFrame({
    'PassengerId':test_data['PassengerId'],
    'Survived':predictions
})

In [247]:
submission

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         1
4            896         1
..           ...       ...
413         1305         1
414         1306         1
415         1307         0
416         1308         1
417         1309         1

[418 rows x 2 columns]

In [248]:
submission.to_csv('submission.csv', index=False)